* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 1000;
  width: 100%;
  padding-left: 3rem;
  background-color: #2356b2;
  height: 5rem;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0 auto;
  width: 40%;
  padding-right: 5rem;
}

.navbar-list li a {
  text-decoration: none;
  color: #f8f9fa;
}

nav img {
  width: 4rem;
  height: auto;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("img/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  margin-left: 7rem;
  padding-top: 28rem;
  color: #f8f9fa;
  font-style: italic;
}

.info-section {
  margin-top: 5rem;
  text-align: center;
}

.info-section h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
  color: #2356b2;
}

.info-section a {
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.social-links {
  display: flex;
  justify-content: space-around;
  margin-left: 16rem;
  margin-right: 16rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

hr {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 4rem;
}

.cta-section {
  display: flex;
  justify-content: space-around;
  height: 20rem;
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
}

.cta-box {
  display: flex;
  flex-direction: column;
}

.cta-box p {
  padding: 1.5rem;
  color: #f8f9fa;
  background-color: #2356b2;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

.cta-image {
  height: 17rem;
  width: auto;
}

footer {
  height: 25vh;
  background-color: #2356b2;
}

/* about us */

.team-section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}

.team-section h1 {
  margin: 4rem;
  color: #2c3e50;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.team-member {
  width: 20rem;
  height: auto;
  text-align: center;
}

.team-member h3 {
  color: #2c3e50;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.team-member p {
  color: #4d4d4d;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.6;
}

.team-member img {
  height: auto;
  width: 100%;
}

.card-container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.card{
  width:325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin:20px;
  height: 500px
}
.card img{
  width: 100%;
  height: 50%;
}
.card-content {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}

.card-content h3{
  font-size: 28px;
  margin-bottom: 12px;

}
.card-content p{
  color:#666;
  font-size: 15px;
  min-height: 80px;
  margin-bottom: 16px;
  line-height: 1.3;
}
.card-content .btn{
  display:inline-block;
  padding:8px 16px;
  background-color: #2356b2;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}
.card-content .btn:hover{
  background-color: #103477;
}

.membership-container{
  display: flex; /* Flexbox layout */
  justify-content: center; /* Space between the mentor and mentee sections */
  align-items: stretch; /* Ensures both columns stretch to the same height */
  gap: 70px; /* Add space between the two columns */
  margin: 20px;
  background-color: #f0f0f0;
  max-width: 60%;
  padding: 20px;
  min-height: 100%;
  border-radius: 10px;
}
 
.mentors{
  flex: 1;
  max-width: 30%;
  min-height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  display: flex; /* Flexbox to handle content */
  flex-direction: column; /* Stack the content vertically */
}

.mentors h3{
  font-size: 24px;
  margin-bottom: 16px;
}

.mentors ul{
  margin-top: 10px;
  padding-left: 20px;
}
.mentors li{
  margin-bottom: 5px;
}

.mentors p{
  font-size: 16px;
  line-height: 1.6;
}

.mentors .btn{
  display:inline-block;
  text-align: center;
  padding:8px 16px;
  background-color: #2356b2;
  text-decoration: none;
  border-radius: 4px;
  margin-top: auto;
  color: #fff;
}

.mentors .spacer{
  margin-bottom: 16px;
}

.mentors .btn:hover{
  background-color: #103477;
}
